.main {
  height: 100vh;

  .van-nav-bar {
    .van-nav-bar__title {
      max-width: 60%;
      margin: 0 auto;
      color: #323233;
      font-weight: 500;
      font-size: 6vw;
    }
  }

}

.fontsize-1 {
  font-size: 20px;
}

.fontsize-1 {
  font-size: 22px;
}

.fontsize-2 {
  font-size: 24px;
}

.fontsize-3 {
  font-size: 26px;
}

.fontsize-4 {
  font-size: 28px;
}



.button-type {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.van-tab__text--ellipsis {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  font-size: 6vw;
  padding: 2px;
  font-weight: 500;
}

.type-content {
  display: flex;
  flex-direction: column;
  width: 100%;

  box-sizing: border-box;

  .van-tab__pane {
    height: calc(100vh - 92px);
    overflow-y: scroll;
  }

  .calendar {
    margin-top: 10px;
    overflow: hidden;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

  }

  .materuak-item {
    margin: 10px 20px 15px 20px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    min-height: 250px;
    border-radius: 10px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    padding: 8px;
    justify-content: center;


    .odd-list {
      display: flex;
      flex-direction: column;
      // background-color: #eee;
      padding-left: 5px;
      padding-right: 5px;
      border-bottom: 15px solid #aaa;

      .odd-item {
        display: flex;
        flex-direction: column;
        width: 100%;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
        padding: 5px;
        box-sizing: border-box;
        margin-bottom: 10px;

        .content {
          display: flex;
          flex-direction: row;
          min-height: 40px;
          align-items: center;
          justify-content: space-between;
          border-bottom: 1px solid #eeeeee;

          .title {
            display: flex;
            justify-content: flex-start;
            color: #000;
            font-size: 20px;
            overflow: hidden;
          }

          .text {
            display: flex;
            justify-content: flex-end;
            flex: 1;
            color: #888;
            font-size: 18px;
          }


        }
      }
    }

    .content {
      display: flex;
      flex-direction: row;
      min-height: 40px;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #eeeeee;

      .title {
        display: flex;
        justify-content: flex-start;
        color: #000;
        font-size: 20px;
        overflow: hidden;
      }

      .text {
        display: flex;
        justify-content: flex-end;
        flex: 1;
        color: #888;
        font-size: 18px;
      }


    }

    .content1 {
      display: flex;
      flex-direction: column;
      min-height: 40px;
      justify-content: space-between;
      border-bottom: 1px solid #eeeeee;

      .title {
        display: flex;
        justify-content: flex-start;
        color: #000;
        font-size: 20px;
        overflow: hidden;
      }

      .text {
        display: flex;

        flex: 1;
        color: #888;
        font-size: 18px;
      }


    }

  }

  .submit-but {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px
  }


  .change-but {
    background-color: rgb(153, 153, 153);
    width: 40px;
    border-radius: 10px;
    align-items: center;
    margin-left: 8px;
    text-align: center;
    color: #ffffff;
  }

  .materuak-item1 {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    min-height: 50px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    padding: 8px;

    .content {
      display: flex;
      flex-direction: row;
      min-height: 40px;
      align-items: center;
      justify-content: space-between;


      .title {
        display: flex;
        justify-content: flex-start;
        color: #000;
        font-size: 20px;
        overflow: hidden;
      }

      .text {
        display: flex;
        justify-content: flex-end;
        flex: 1;
        color: #888;
        font-size: 18px;
      }


    }

    .content1 {
      display: flex;
      flex-direction: column;
      min-height: 40px;
      justify-content: space-between;
      border-bottom: 1px solid #eeeeee;

      .title {
        display: flex;
        justify-content: flex-start;
        color: #000;
        font-size: 20px;
        overflow: hidden;
      }

      .text {
        display: flex;

        flex: 1;
        color: #888;
        font-size: 18px;
      }


    }

  }
}



.one-pop {
  display: flex;
  flex-direction: column;
  width: 80%;

  background-color: #fff;
  padding: 5px;

  .title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    color: #000000;
    font-size: 22px;
  }

  .text {
    width: 100%;
    height: 40px;
    font-size: 20px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .item {
    width: 100%;
    height: 40px;
    font-size: 20px;
    align-items: center;
    color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.sheet {
  z-index: 9999;
  position: fixed
}

.inp {

  display: flex;
  text-align: center;
  justify-content: center;
  flex: 2;
  width: 100px;
  color: #888;
  font-size: 18px;
  border: 1px solid #888
}